// custom variables

// colors
$primary: #00ff15;
$secondary: #ff0000;

// import the functions & variables
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

$custom-theme-colors: (
    "altlight" : #f8f9fa,
    "altdark" : #343a40,
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// borders
$border-width:                1px;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
);
$border-style:                solid;
$border-color:                $gray-300;
$border-color-translucent:    rgba($black, .175);

// border radius
$border-radius:               .180rem;
$border-radius-sm:            .125rem;
$border-radius-lg:            .25rem;
$border-radius-xl:            .5rem;
$border-radius-xxl:           1rem;
$border-radius-pill:          50rem;

// $border-radius-2xl:           $border-radius-xxl;

// import bootstrap scss
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
